body {
    background-color: #F9E4D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Courier New';
    border-radius: 5px;
}

header,
.login-section {
    text-align: center;
}

h1,
h2,
p,
input {
    color: #9C0F48;
    font-family: 'Courier New';
    text-align: center;
}

.login-section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid #9C0F48;
    font-family: 'Courier New';
    margin-bottom: 15px;
}

button {
    background-color: #9C0F48;
    color: #F9E4D4;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-family: 'Courier New';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

button.buttonReturn {
    background-color: transparent;
    color: #9C0F48;
    border: 1px solid #9C0F48;

}


button.buttonAccess {
    padding: 5px;
    margin: 5px;
    border: 1px solid #9C0F48;
    display: block;
    margin-left: auto;
    margin-right: auto;

}